<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css" />
    <title>Rekomendasi Skripsi</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Sistem Rekomendasi Topik Skripsi</h1>

        <div class="form-card">
            <form method="POST" class="search-form">
                <input type="text" id="nim" name="nim" placeholder="G64012xxxxx">
                <button type="submit">Search</button>
            </form>
            <p class="description" style="margin-top: 20px; font-size: 16px;">
                Sistem Rekomendasi ini menampilkan judul skripsi alumni departemen ilmu komputer IPB yang relevan berdasarkan nilai akademik dan minat profesi dari hasil talent mapping mahasiswa.
            </p>
        </div>
    </div>
</body>
</html>
